fastapi
uvicorn
sqlmodel
pydantic[email]
psycopg2-binary
asyncpg
python-jose[cryptography]
passlib[bcrypt]
python-multipart
redis
fastapi-limiter
fastapi-cache2
python-dotenv
tenacity
alembic
SQLAlchemy-Utils
prometheus-client
structlog
Pillow
PyYAML
django
djangorestframework
django-cors-headers
django-environ
djangorestframework-simplejwt
requests
gunicorn
django-redis
httpx
